/* General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    background-color: black;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.orange{
    color: #ff7a00;
}

/*header*/

header{
    height: 90px;
}

header a{
    text-decoration: none;
    color: white;
}

header h1{
    float: left;
    margin-top: 20px;
}

header nav{
    float: right;
    margin-top: 33px;
}

header nav ul li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    float: right;
}

/*************formulaire de connexion*********************/

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formConnexion {
    position: relative;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.formConnexion a{
    color: white;
}

.formConnexion::before {
    content:'';
    opacity: revert;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(29deg);
    transform-origin: top;
}

.formConnexion img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}

.formConnexion h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff7a00;
}

.formConnexion h1 {
    font-size: large;
    background-color: #B0413E;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
}

.formConnexion .input-group {
    position: relative;
}

.formConnexion .input-group input {
    background-color: transparent;
    color: inherit;
    width: 100%;
    padding: 7px 0;
    font-size: 1rem;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

input:-webkit-autofill {
    transition: all 0s 50000s;
}

.formConnexion .input-group label {
    color: #ff7a00;
    font-size: 1rem;
}

.submit-btn {
    display: block;
    margin-right: auto;
    border: none;
    background: #ff7a00;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formConnexion .group-checkbox{
    margin-bottom: 10px;
}

.formConnexion input[type=checkbox] {
    display: none;
}

input[type=checkbox] + span::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ff7a00;
    background: #fff;
    border-radius: 50%;
}
.formConnexion input[type=checkbox]:checked + span::before {
    background: #ff7a00;
    border: 1px solid white;
}

/********** affichage des sortie page /sorties *************/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
#card-list{
    font-weight: bold;
    font-size: 1.5rem;
}
#search {
    padding-left: 2px;
}

.filter{
    display: block;
    position: sticky;
    top: 20px;
}

.campus {
    display: flex;
    justify-content: center;
}



/********** formulaire gestion de profil *************/

.formulaireGestionProfil {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff7a00;
    font-size: 1rem;
    text-align: center;
}

.btn-gestion-profil{
    display:block;
    margin:auto;
}

#numeroCampus{
    margin-bottom: 10px;
    text-align: center;
    font-size:25px;
    color: #ff7a00;
}

.flash {
    text-align: center;
    margin: 20px;
    padding: 12px;
    display: block;
    font-size:24px;
    font-weight: bold;
    color: #004805;
    border-radius: 10px;
}

.flash-success {
    background-color: greenyellow;
}

.flash-error {
    background-color: firebrick;
}

/********** Créer une sortie *************/

.substitu-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg, #bfa004, #ff7a00);
}
.sortieForm-wrapper {
    max-width: 1200px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.formSortieCreation {
    position: relative;
    padding: 30px 40px 40px;
    background: rgb(0 0 0 / 73%);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.formSortieCreation h1 {
    font-weight: 500;
    position: relative;

    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.formSortieCreation h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -3px;
    text-align: center;
    margin-left: calc(100% / 2 - 150px);
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7a00, #bfa004);
}
.formSortieCreation .sortie-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formSortieCreation .sortie-detail .col-form-label {
    font-size: large;
}

.formSortieCreation .sortie-detail .form-group{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.formSortieCreation .sortie-detail .form-group label{
    font-size: large;
}

.formSortieCreation .sortie-detail .form-group input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
}

.formSortieCreation .sortie-detail .form-group select{
    margin-right: 5px;
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 2s ease;
}

.formSortieCreation .sortie-detail .form-group input:focus{
    border-color: #ff7a00;
}

.formSortieCreation .button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bfa004, #ff7a00);
}

.formSortieCreation .button:hover {
    transform: scale(1.10);
    background: linear-gradient(-135deg, #bfa004, #ff7a00);
}

/********** Créer une sortie / responsive*************/

@media(max-width: 715px){
    .sortieForm-wrapper{
        max-width: 100%;
    }
    .formSortieCreation .sortie-detail .form-group{
        margin-bottom: 15px;
        width: 100%;
    }

}

