/*********************** General******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    background-color: #5f5e5e;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.orange{
    color: #ff7a00;
}

/****************************header******************************/
header{
    height: 90px;
}
header a{
    text-decoration: none;
    color: white;
}
header h1{
    float: left;
    margin-top: 20px;
}
header nav{
    float: right;
    margin-top: 33px;
}
header nav ul li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    float: right;
}

/*************formulaire de connexion*********************/

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formConnexion {
    position: relative;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.formConnexion a{
    color: white;
}
.formConnexion::before {
    content:'';
    opacity: revert;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(23deg);
    transform-origin: top;
    border-radius: 10px;
}
.formConnexion img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}
.formConnexion h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff7a00;
}
.formConnexion h1 {
    font-size: large;
    background-color: #B0413E;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
}
.formConnexion .input-group {
    position: relative;
}
.formConnexion .input-group input {
    background-color: transparent;
    color: inherit;
    width: 100%;
    padding: 7px 0;
    font-size: 1rem;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}
input:-webkit-autofill {
    transition: all 0s 50000s;
}
.formConnexion .input-group label {
    color: #ff7a00;
    font-size: 1rem;
}
.submit-btn {
    display: block;
    margin-right: auto;
    border: none;
    background: #ff7a00;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.formConnexion .group-checkbox{
    margin-bottom: 10px;
}
.formConnexion input[type=checkbox] {
    display: none;
}
input[type=checkbox] + span::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ff7a00;
    background: #fff;
    border-radius: 50%;
}
.formConnexion input[type=checkbox]:checked + span::before {
    background: #ff7a00;
    border: 1px solid white;
}

/***************** affichage des sortie page /sorties *************/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
#card-list{
    font-weight: bold;
    font-size: 1.5rem;
}
#search {
    padding-left: 2px;
}
.filter{
    display: block;
    position: sticky;
    top: 20px;
}
.campus {
    display: flex;
    justify-content: center;
}

/***************** formulaire gestion de profil *****************/

.formulaireGestionProfil{
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 85px;
    background-color: #2f2f40;
    letter-spacing: 1px;
    color: #ff7a00;
    z-index: 10;
}
.container_formulaireGestionProfil{
    border: solid 3px white;
    padding:0%;
    border-radius: 25px;
    background-color: #2f2f40;
}
.photo_de_profil {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 40%;
}
.flash {
    text-align: center;
    margin: 20px;
    padding: 12px;
    display: block;
    font-size:24px;
    font-weight: bold;
    color: #004805;
    border-radius: 10px;
}
.flash-success {
    background-color: greenyellow;
}
.flash-error {
    background-color: firebrick;
}
.btn-gestion-profil {
    border: none;
    background: #ff7a00;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    border-radius: 5px;
}
.div-btn-profil-form{
    float: right;
    z-index: 20;
    top: 50%;
}

/***************** Créer une sortie *********************/

.substitu-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg, #bfa004, #ff7a00);
}
.sortieForm-wrapper {
    max-width: 1200px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.formSortieCreation {
    position: relative;
    padding: 30px 40px 40px;
    background: rgb(0 0 0 / 73%);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.formSortieCreation h1 {
    font-weight: 500;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.formSortieCreation h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -3px;
    text-align: center;
    margin-left: calc(100% / 2 - 150px);
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7a00, #bfa004);
}
.formSortieCreation .sortie-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formSortieCreation .sortie-detail .col-form-label {
    font-size: large;
}
.formSortieCreation .sortie-detail .form-group{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.formSortieCreation .sortie-detail .form-group label{
    font-size: large;
}
.formSortieCreation .sortie-detail .form-group input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
}
.formSortieCreation .sortie-detail .form-group select{
    margin-right: 5px;
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 2s ease;
}
.formSortieCreation .sortie-detail .form-group input:focus{
    border-color: #ff7a00;
}
.formSortieCreation .button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bfa004, #ff7a00);
}
.formSortieCreation .button:hover {
    transform: scale(1.10);
    background: linear-gradient(-135deg, #bfa004, #ff7a00);
}

/*********** Créer une sortie / responsive*********/
@media(max-width: 715px){
    .sortieForm-wrapper{
        max-width: 100%;
    }
    .formSortieCreation .sortie-detail .form-group{
        margin-bottom: 15px;
        width: 100%;
    }
}

/************************* admin campus page*************************/
.gestionCampus {
    justify-content: center;
}
.gestionCampus h1 {
    font-weight: 500;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.gestionCampus h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -3px;
    margin-left: calc(100% / 2 - 150px);
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7a00, #bfa004);
}
.form_search_campus {
    display: flex;
    justify-content: center;
}
.form_search_campus form{
    display: inline-grid;
}
.form_search_campus label{
    display: none;
}
.form_search_campus button {
    border: none;
    background: #ff7a00;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    border-radius: 5px;
}
.diviseur{
    margin: 10px 0px;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7a00, #bfa004);
}
.tableContainer {
    display: flex;
    justify-content: center;
}
.scrollBar {
    width: 850px;
    position: relative;
    overflow-y: auto;
    height: 400px;
    max-height: 400px;
}
.ResultCampus {
    width: 800px;
}
tr {
    transition: all .2s ease-in;
    cursor: pointer;
}
th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#tableHeader tr th{
    background-color: #d26600;
    color: #fff;
    position: sticky;
    top: 0;
}

#tableHeader tr:hover {
    background-color: #d26600;
    cursor: default;
    transform: none;
}
tr:hover {
    background-color: #d69b62;
    color: black;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}
/********************** admin modifier campus page***********************/

.form_edit_campus form .form-group{
    display: grid;
}
.scrollBar label{
    display: none;
}