{% extends('base.html.twig') %}

{% block title %}Connexion | Sortie.com{% endblock %}

{% block body %}
    <form method="post" action="{{ path('home') }}">
        <label for="identifiant">Identifiant :</label>
        <input type="text" name="_username" id="identifiant">

        <label for="password">Mot de passe :</label>
        <input type="password" name="_password" id="password">

        <button type="submit">Connexion</button>

        <label for="remember_me">Se souvenir de moi</label>
        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a>
    </form>

{% endblock %}