{% extends 'base.html.twig' %}

{% block title %}Creation Campus | Sortie.com{% endblock %}

{% block body %}

    <h1>Créer un Campus</h1>

    {{ form_start(campusForm) }}


    {{ form_end(campusForm) }}

{% endblock %}
