{% extends 'base.html.twig' %}

{% block title %}Modifier Campus | Sortie.com{% endblock %}

{% block body %}

    <div class="gestionCampus">
        <h1>Editer les campus</h1>

        {{ form_start(formCampus) }}
        {{ form_row(formCampus.nom) }}
        {{ form_end(formCampus) }}

    </div>


{% endblock %}

